RepositoriesFolder=TelosysTools
TemplatesFolder=TelosysTools/templates
DownloadsFolder=TelosysTools/downloads
LibrariesFolder=TelosysTools/lib

ROOT_PKG=br.com.powerlogic.treinamento_view.app
ENTITY_PKG=br.com.powerlogic.treinamento_view.app.entity

SRC=src/main/java
RES=src/main/resources
WEB=src/main/webapp
TEST_SRC=src/test/java
TEST_RES=src/test/resources
#SRC=src
#RES=res
#WEB=WebContent
#TEST_SRC=src
#TEST_RES=
DOC=doc
TMP=tmp

ProjectVariable.PROJECT_NAME=treinamento-view
